<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" >
  <head>
    <%- include _head %>
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="https://nanopixelwall.com"/>
    <meta property="og:title" content="NanoPixelWall - Become a part of Nano History. " />
    <meta property="og:description" content="NanoPixelWallas JS Application that give a hall of fame to NANO Community." />
  </head>
  <body style="background-image: url('http://173.212.192.225/img/bg-hero.svg');background-size:cover;">
    <div id="app" class="container">
        
      <header style="color: #000034">
          <img style="height: 30px" src="http://173.212.192.225/img/nano_full_hi-res.png" alt="NANO Logo" />
        <h1>TNanoPixelWall - Become a part of Nano History. </h1>
        <h2>1,000,000 pixels &middot; 0,0001 NANO per pixel &middot; Own a piece of NANO history! </h2>
      </header>

      <div class="adGrid"></div>  
    <script src="js/build.js"></script>

  </body>
</html>
